.spotname-container {
  border: 1px, solid, black
}
.spots-index-div {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 100%;
  padding: 10px;
}

.spots-index-buttons-container {
//width: 160px;
}
.spots-index-buttons-container button {
 width: 170px;
 margin-top: 5px;
}
