.comment-box {
  padding-top: 40px;
  overflow-y: auto;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  width: 100%;
  max-height: 70%;
}

.comment {
  background-color: black;
  border: 1px solid $pink;
}

.comment-details {
  font-size: 0.5rem;
  display:flex;
  flex-direction:row;
  justify-content: space-around;
}

.comment-text {
  padding: 10px;
  font-size: 0.5rem;
}

.comment-username {
  display: flex;
  align-items: center;
}

.comment-time {
  display: flex;
  align-items: center;
}
