.comment-box {
  background-color: black;
  border-radius: 10px;
  padding: 1%;
  margin-top: 10%;
}
.comment {
  background-color: black;
  border: 1px solid $pink;

}

.comment-details {
  font-size: 0.8rem;
}
