
.main-container {
  //so this is basically a fluid container bc of the widht 100%
  width: 100%;
  min-height: 100vh;
  background-color: black;
  padding-top: 40px;
  //position: fixed;



}
 body {
  height: 100%;
 }

.auth-container {
  padding-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

form {
  max-width: 400px;
  //width: 100%;
}

.centered-div-home {
  //the margin-top is where the scrollable container is disappearing on the top
  margin-top: 90px;
  padding-top: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: calc(100vh - 40px);
  //overflow-y: auto;
  position: fixed;
  z-index: 1000;
  width: 80%;
}


.white-text {
  color: white;
}

.font {
  font-family: $main-font;
}

.div-box-green-border {
  border: 1px;
  border-style: solid;
  border-color:#DD036E;
  ;
  width: 80%;
  padding: 20px;

}
.div-box-red-border {
  border: 1px;
  border-style: solid;
  border-color: rgb(64, 255, 0);


}

.hidden {
  display: none;
}

.list {
  text-decoration: none;
  list-style-type: none;
}
