
.main-container {
  width: 100%;
  height: 100vh;
  background-color: black;
}

.white-text {
  color: white;
}

.font {
  font-family: $main-font;
}

.div-box-green-border {
  border: 1px;
  border-style: solid;
  border-color:#DD036E;
  ;
  width: 80%;
  padding: 20px;

}
.div-box-red-border {
  border: 1px;
  border-style: solid;
  border-color: rgb(64, 255, 0);


}

.navbar-cobtainer {

}
