
.main-container {
  //so this is basically a fluid container bc of the widht 100%
  width: 100%;
  min-height: 100vh;
  background-color: black;
  //padding-top: 40px;
}

body {
  padding-top: 40px; /* Change 60px to the height of your navbar */
}

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  max-width: 400px;
  //width: 100%;
}

.centered-div-home {
  margin-top: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100vh;
  overflow-y: auto;


}


.white-text {
  color: white;
}

.font {
  font-family: $main-font;
}

.div-box-green-border {
  border: 1px;
  border-style: solid;
  border-color:#DD036E;
  ;
  width: 80%;
  padding: 20px;

}
.div-box-red-border {
  border: 1px;
  border-style: solid;
  border-color: rgb(64, 255, 0);


}

.hidden {
  display: none;
}

.list {
  text-decoration: none;
  list-style-type: none;
}
