// this file is only for media queries
/* Target iPhone screens */
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  /* CSS styles here will be applied to iPhone screens */
  body {
    //width: 100%;
  }
  .centered-div-home {
    width: 80%;
  }
  img {
    object-fit: contain;
    max-width: 100%;
  }
}
