// this file is only for media queries
/* Target iPhone screens */
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  /* CSS styles here will be applied to iPhone screens */

  html {
    font-size: 1rem;
  }
  body {
    //width: 100%;
    //font-size: 10px;
  }
  .centered-div-home {
    width: 80%;
  }
  .spots-index-buttons-container {
    width: 100%;
    margin-top: 5px;
   }
  .spots-index-buttons-container button {
    width: 100%;
    margin-top: 5px;
   }

   .avatar {
    width: 60px;
    height: 60px;
   }

   // spots listing page

  ul.centered-list li {
    margin: 5% 0;

  }


}
