<div class="navbar-container">
  <div class="mx-auto text-center">
    <% if user_signed_in? %>
      <%= link_to destroy_user_session_path, data: {turbo_method: :delete}, class: "navbar-button" do %>
        <i class="fa-solid fa-right-from-bracket"></i>
      <% end %>
      <%= link_to user_path(current_user), class: "navbar-button" do %>
        <i class="fa-solid fa-user"></i>
      <% end %>
      <%= link_to ski_spots_path, class: "navbar-button" do %>
        <i class="fa-solid fa-location-dot"></i>
      <% end %>
    <% end %>
  </div>
</div>
