
<div class="black-bg main-container">
  <div class="centered-div-home white-text">
    <h1>WELCOME TO SPOTCHECK</h1>
    <p>TO CONTINUE ON THIS APPLICATION YOU HAVE TO LOGIN</p>
    <!--replacing the login button--->
      <%= render "shared/login" %>
    <!---%= link_to "LOG IN", new_user_session_path %--->
    <p>If you are new to Spotcheck you can create your account <%= link_to "here", new_user_registration_path %></p>
  </div>
</div>
