<div>
  <div class="centered-div-home">
    <h1>WELCOME TO SPOTCHECK</h1>
    <p>TO CONTINUE ON THIS APPLICATION YOU HAVE LOGIN</p>
    <%= link_to "LOG IN", new_user_session_path %>
    <%= link_to "SIGN IN", new_user_registration_path %>
    <p>test-branch test</p>
    <p>second test</p>
    <p>branch x</p>
  </div>
</div>
